@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Source+Serif+Pro:wght@400;700&display=swap');

@import url('fonts/fantasque.css');

body {
    font-family: 'Fantasque Sans Mono', monospace;
    font-size: 20px;
    background: linear-gradient(40deg, red, orange, yellow);
}

h2 {
    color:green;
    font-family: 'Source Serif Pro', serif;
    font-size: 10px;
}

div.background {
    color:red;
    padding: 60px;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
    background: #000000;
}

.facts {
    color:blue;
}

a {
    color:gold;
    font-size: 2em;
}

a:hover {
    color: grey;
}

b {
    color:blueviolet;
    background-color: bisque;
}

.aside_class span {
    color:chocolate;
}

/*Won't work because b is not a direct child of footer rather a grandchild*/
footer > b {
    color:crimson;
}

/*Will work because it's for descedants in common */
footer b {
    color:crimson;
}

.aside_class h3~p {
    color:rgb(158, 194, 31);
}

.penguins_pic {
    background:rgba(0, 0, 255, 0.2);
    border: 10px solid;
    border-color: #660000;
}

.peng {
    border: 10px solid;
    border-color: #006600;
    padding: 100px;
    background: rgba(0, 0, 255, 0.3);
    opacity: 1;
    overflow: hidden;
}